header {
  width: min-content;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--background-main-bg_1);
  padding: var(--space-2) 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 80px;
  border: 0.5px solid var(--text-color);
  padding: 8px 15px
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .logo img {
    width: 30px;
    height: 30px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none !important;
    padding: 0px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
  }
}

.desktop-nav {
  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;

    li a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;

      &.active {
        color: var(--primary-500);
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  background: #fff;
  z-index: 1001;
  padding: 2rem;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;

  &.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .close-btn {
      background: none;
      padding: 4px 10px;
      cursor: pointer;
      font-size: 18px;
      border: none;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      a {
        color: #000;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}

.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 768px) {
  header {
    border: none !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  }

  .desktop-nav {
    display: none;
  }

  .menu-toggle {
    display: block !important;
  }

  .header {
    border: none;
  }
}