/* Dark theme */
body.dark-theme {
    //for body only
    --primary-bg: #18181b;

    //for components
    --background-main-bg: #18181b;
    --text-color: #ddd;
    --background-main-bg_1: #18181b;

    // shot colors
    --shot-colors: #005cbb;
}

body.dark-theme {
    background-color: var(--primary-bg);
    color: var(--text-color);
}



body.dark-theme .dark_mode_1 {
    background-color: var(--menu-background-color) !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

