/* Light theme */
body.light-theme {
    //for body only
    --primary-bg: #f5f5f5;

      //for components
    --background-main-bg: #ffffff;
    --text-color: #111;
    --background-main-bg_1: #ffffff;

    // shot colors
    --shot-colors: black;
}

body.light-theme {
    background-color: var(--primary-bg);
    color: var(--text-color);
}
