.experience-wrapper {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    padding: 8rem 0px;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    .section-heading {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
     span{
      border-bottom: 2.5px double #25d366;
     }
    }
  
    .section-subtext {
      font-size: 1.1rem;
      color: var(--text-color);
      margin-bottom: 2rem;
    }
  
    .work-experience {
      display: flex;
      gap: 2rem;
  
      .sidebar {
        min-width: 200px;
        
        ul {
          list-style: none !important;
          padding: 0;
          margin: 0;
          li {
            display: flex;
            align-items: center;
            padding: 12px 10px 10px 10px;
            cursor: pointer;
            border-left: 3px solid transparent;
            transition: all 0.3s;
            list-style: none;
            margin-bottom: 10px;
  
            .left-border {
              width: 4px;
              height: 100%;
              background: transparent;
              margin-right: 10px;
            }
  
            .company-info {
              display: flex;
              align-items: center;
              gap: 10px;
  
              img {
                width: 18px;
                height: 18px;
              }
  
              span {
                font-weight: 500;
                font-size: 15px;
              }
            }
  
            &.active {
              border-left: 3px solid #00cfff;
              background-color: rgba(255, 255, 255, 0.05);
  
              .left-border {
                background: #00cfff;
              }
            }
  
            &:hover {
              background-color: rgba(255, 255, 255, 0.05);
              color: var(--text-color);
            }
          }
        }
      }
  
      .content {
        flex: 1;
  
        .inner-content {
          max-width: 700px;
  
          h2 {
            font-size: 22px;
            margin-bottom: 8px;
  
            .highlight {
              color: #00cfff;
            }
          }
  
          .duration {
            font-size: 14px;
            color: #ccc;
            margin-bottom: 16px;
          }
  
          .description {
            ul {
              padding-left: 20px;
  
              li {
                margin-bottom: 10px;
                font-size: 15px;
                line-height: 1.6;
                list-style: none;
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      .work-experience {
        flex-direction: column;
  
        .sidebar {
          ul {
            display: flex;
            overflow-x: auto;
            list-style: none;
  
            li {
              flex: 0 0 auto;
              padding: 10px 15px;
            }
          }
        }
      }
    }
  }